@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin abscenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// 1em = 16px

@mixin respond($breakpoint) {
    @if $breakpoint == s-phone {
        @media (max-width: 18.75em){ @content }; // 300px/16px = 18.75em 
    }

    @if $breakpoint == m-phone {
        @media (max-width: 23.4em){ @content }; // 375px/16px = 23.4em 
    }

    @if $breakpoint == phone {
        @media (max-width: 37.5em){ @content }; // 600px/16px = 37.5em 
    }

    @if $breakpoint == tab-port {
        @media (max-width: 56.25em){ @content }; // 900px/16px = 56.25em
    }
}
