@keyframes moveintoright {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes moveintoleft {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes blink-logo {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveintotop-button {
    0% {
        opacity: 0;
        transform: translateY(6rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}